<% include ../partials/header %>
<% include nav %>
<div class="container">
    <div class="container-mop-content">
    <h1>Welcome Admin</h1>
        <div class="content">
            Administrativni dio sistema gdje se mogu raditi osnovne operacije nad upitnicima (CRUD operacije)<br>
            Samo admin korisnik moze pristupiti administrativnom dijelu sistema<br>
            Admin korisnika je potrebno rucno dodati u DB dodan je pomocu seeda<br>
            Admin korisnik moze napraviti upitnik onda kreirati stranice i za svaku stranicu kreirati pitanja i nakon toga za svako pitanje dodati vrstu odgovara i dodati odogovr.
        </div>
        <div class="main-button-holder">
            <a class="main-button" href="questionnaire">ZAPOCNI</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>