<% include ../partials/header %>
<% include ../partials/nav %>
<div class="container">
    <div class="container-mop-content">
        <h1>Thank you for your Answers</h1>
        <a href="/user/profile">Back to questionnaires</a>
    </div>
</div>
<% include ../partials/footer %>